From: admin@frflashy.com
---
Hi, this is an automated response.

An account with the email {USER_EMAIL} already exists.

If you have lost your password, you can recover it by clicking on 'Change or Reset Password? Change here' at the login screen.

Best regards,
The FrFlashy Team
admin@frflashy.com
