From: admin@frflashy.com
---
Hi, this is an automated AI response.

We don't understand what you are asking. We've attached our information response that might help.

{BODY_CONTENT}

If you would like to email a human, reply with 'Email to a human' in the subject line along with your question.

Best regards,
The FrFlashy Team
admin@frflashy.com
